
.modal{
    width: 400px; 
    position:relative;
}

.heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element > span{
    min-width: fit-content;
}

.element > input{
    flex: 1;
    margin-left: 2.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
}

.element>input:focus {
   outline: none;
}

.colors{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}

.colors > div{
    --c : "#B38BFA";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    background-color: var(--c);
}

.create{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: antiquewhite; */
}

.create > button{
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    text-align: center;
    margin: 0;
}

.create > button:hover{
    transform: scale(0.98);
}

@media (max-width:768px){
    .modal{
        width: 100%;
        min-width: 100%;
    }
}