.container{
    width: 100%;
    background-color: #E8E8E8;
    padding: 1rem 1.5rem;
    position: relative;
}

.text{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.text:focus{
    outline: none;
}

.text::placeholder{
    color: grey;
    font-size: 1.3rem;
}

.send{
    position: absolute;
    right:30px;
    bottom: 20px;
}