@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Single+Day&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    display: flex;
    position: relative;
    background-color: #555;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.chat_panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}



