.container{
    background-color:#F7ECDC;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(237, 237, 237); */
}

p[id="create"]{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    /* color: rgb(250, 126, 17); */
    background: linear-gradient(to right,rgb(254, 203, 18), rgb(246, 152, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

p[id="organize"] {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    /* color: rgb(250, 126, 17); */
    background: linear-gradient(to right, rgb(254, 73, 18), rgb(246, 11, 109));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

p[id="extra"] {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    /* color: rgb(250, 126, 17); */
    background: linear-gradient(to right, rgb(254, 18, 254), rgb(246, 11, 105));
    -webkit-background-clip: text;
    margin: 0;
    -webkit-text-fill-color: transparent;
}

p{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgb(67, 67, 67);
    margin-top: 20px; 
}

span{
    font-weight: 700;
    color:rgb(39, 38, 38);
}